nav .navbar-brand
{
    /* size for brand */
    padding-left: 50px;
    font-size: xx-large;
}

div .navbar-header
{
    padding: 25px;
}

span
{
  color: white;
  font-size: xx-large;
  padding-left: 20px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
