{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
<h1 id="detail_release_title"> Some Release {{ release_id }} </h1>
<div style="float:right;">
  <a href="https://github.com/cabreraem/mock_release_UI"><button type="button" class="btn btn-primary btn-lg">View on Github</button></a>
</div>
<div class="row" style="width:50%;">
  <div class="col-sm-2">
    <h5>Type:</h5>
    <h5>Daily {{ release_type }}</h5>
  </div>
  <div class="col-sm-5">
    <h5>Created on:</h5>
    <h5>mm/dd/yyyy 24:00:00 {{ release_date }}</h5>
  </div>
  <div class="col-sm-5">
    <h5>Last Modified:</h5>
    <h5>mm/dd/yyyy 24:00:00 {{last_modified}}</h5>
  </div>
</div>

  <div id="detail-table" style="width:50%;">
    <table class="table table-bordered">
      <thead>
        <th>Status</th>
        <th>Task</th>
        <th>Start Time</th>
        <th>Duration</th>
        <th>View Logs</th>
      </thead>
      <tbody>
          {% for ___ in ____%}

          {% endfor %}

          <tr>
          </tr>
      </tbody>

    </table>
  </div>

{% endblock %}
