{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
<div id="title" class="row" style="width:50%;">
  <div class="col-">
    {% if status %}
    <img class="img-responsive" src="/static/images/check.png" style="padding-top: 8px;">
    {% else %}
    <img class="img-responsive" src="/static/images/error.png" style="padding-top: 8px;">
    {% endif %}
  </div>
  <div class="col-lg-8">
    <h1 id="detail_release_title"> Some Release {{ release_id }} </h1>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-secondary"> Tag {{ tag }}</button>
  </div>
</div>

<div style="float:right;">
  <a href="https://github.com/cabreraem/mock_release_UI"><button type="button" class="btn btn-primary btn-lg">View on Github</button></a>
</div>

<div id="dates">
  <div class="row">
    <div class="col">
      <h6>Created on: mm/dd/yyyy 24:00:00 {{ release_date }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Last Modified: mm/dd/yyyy 24:00:00 {{ last_modified }}</h6>
    </div>
  </div>
</div>


  <div id="detail-table" style="width:50%;">
    <table class="table table-bordered">
      <thead>
        <th>Status</th>
        <th>Task</th>
        <th>Start Time</th>
        <th>Duration</th>
        <th>View Logs</th>
      </thead>
      <tbody>
          {% for ___ in ____%}

          {% endfor %}

          <tr>
          </tr>
      </tbody>

    </table>
  </div>

{% endblock %}
