{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <th>Status</th>
            <th>Version</th>
            <th>Creation</th>
            <th>Last Modified</th>
            <th>Last Active Task</th>
            <th>Tags</th>
        </thead>
        <tbody>
            {% for ___ in ____%}

            {% endfor %}

            <tr>
            </tr>
        </tbody>

    </table>

{% endblock %}
