<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>

        <title>ISTIO Releases: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar sticky-top navbar-light" style="background-color: #2C6AC4;">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/static/images/logo.png">
              <span>ISTIO Releases</span>
            </a>
          </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
